# macOS automatically generates this hidden file
.DS_Store

# Executables
TestFourierTransform
FingerPrinter

# Object files
*.o

# WAVs and CSVs go in TestSet folder
TestSet

# So I could more freely play around with the files in TestSet,
# I copied all the WAV files to this backup directory.
WAVBackup
